apiVersion: v1
kind: Service
metadata:
  namespace: dwk-exercises
  name: pingpong-svc
spec:
  type: LoadBalancer
  selector:
    app: pingpong
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 80
    - name: grpc
      port: 50051
      protocol: TCP
      targetPort: 50051
