apiVersion: v1
kind: Service
metadata:
  namespace: dwk-exercises
  name: pingpong
  annotations:
    cloud.google.com/backend-config: |
      {"ports": {"80": "http-backendconfig"}}
spec:
  type: NodePort
  selector:
    app: pingpong
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 80
    - name: grpc
      port: 50051
      protocol: TCP
      targetPort: 50051
