apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- manifests/automation.yaml
- manifests/nats.yaml
- manifests/postgres.yaml
- manifests/telegram-api-token.yaml
- manifests/telegram-channel-id.yaml
- manifests/ingress.yaml
- api/manifests/config.yaml
- api/manifests/deployment.yaml
- api/manifests/service.yaml
- api/manifests/persistentvolumeclaim.yaml
- api/manifests/cronjob.yaml
- frontend/manifests/deployment.yaml
- frontend/manifests/service.yaml
- broadcaster/manifests/config.yaml
- broadcaster/manifests/deployment.yaml
images:
- name: ghcr.io/strax/dwk-project-api
  newTag: main-aa78b07-1623597868 # {"$imagepolicy": "dwk-project:api:tag"}
- name: ghcr.io/strax/dwk-project-frontend
  newTag: main-c8e274d-1623597262 # {"$imagepolicy": "dwk-project:frontend:tag"}
- name: ghcr.io/strax/dwk-project-broadcaster
  newTag: main-aa78b07-1623597871 # {"$imagepolicy": "dwk-project:broadcaster:tag"}
