apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: api-stripprefix
spec:
  stripPrefix:
    prefixes:
      - /api
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: ingressroute
spec:
  entryPoints:
    - web
  routes:
    - match: PathPrefix(`/api`)
      kind: Rule
      services:
        - name: project-api-service
          port: 80
      middlewares:
        - name: api-stripprefix
    - match: PathPrefix(`/`)
      kind: Rule
      services:
        - name: project-frontend-svc
          port: 80