.todoListContainer {
  padding: 0;
  display: grid;
  margin: 0;
}

.todoListItem {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 10px 24px;
  display: flex;
  flex-direction: column;
}
.todoListItem:not(:last-child) {
  border-bottom: 1px solid #f4f5f9;
}
