apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: dwk-project
  name: frontend
spec:
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: nginx
          image: ghcr.io/strax/dwk-project-frontend
          imagePullPolicy: Always
          resources:
            limits:
              cpu: "150m"
              memory: "256Mi"
