apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: dwk-project
  name: frontend-dep
spec:
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: nginx
          image: frontend/image
