apiVersion: v1
kind: Service
metadata:
  namespace: dwk-project
  name: frontend
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 80
