---
apiVersion: v1
kind: ConfigMap
metadata:
  name: api-config
  namespace: dwk-project
data:
  PGHOST: postgres.dwk-project.svc.cluster.local
  PGPORT: "5432"
  PGUSER: todos
  PGDATABASE: todos
  PATH_PREFIX: "/api"
  NATS_URL: nats://dwk-project-nats:4222
