apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: dwk-project
  name: api
spec:
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      volumes:
        - name: volume1
          persistentVolumeClaim:
            claimName: project-pvc
            readOnly: true
      containers:
        - name: api
          image: api/image
          volumeMounts:
            - mountPath: /mnt/volume1
              name: volume1
          envFrom:
            - configMapRef:
                name: api-config
            - secretRef:
                name: api-secret
          readinessProbe:
            httpGet:
              port: 80
              path: /healthz